@font-face {
    src: url("../fonts/Boriboon\ Regular.ttf");
    font-family: "boriboon";
}

@font-face {
    src: url("../fonts/TTF/Loubag-Regular.ttf");
    font-family: "loubar";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../media/fondo2.jpg);
    background-size: 100% 100%;
}

a {
    text-decoration: none;
    color: black;
}

i {
    font-size: 30px;
}

/****************************************************HEADER*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.galeria-container video{
    width: 100%;
    position: relative;
    top: -150px;

}
.galeria-container{    
    background-color: rgba(0, 0, 0, 0.485);
    width:90%;
    max-width: 500px;
    margin: 20px;
    margin-bottom: 10px;
    height: 180px;
    border: 2px double black;
    border-radius: 5px;
    overflow: hidden;
    
}
.logo {
    width: 120px;
    position: absolute;
    top: 150px;
    left: 3vh;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(232, 124, 124);
}

/****************************************************MAIN*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

h1 {
    font-family: "loubar";
    text-align: center;
    font-size: 25px;
}

p {
    font-family:"boriboon";
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
section a{
    width: 90%;
}
.cont-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px;     */
    border-radius: 30px;
    background-size:cover;
    overflow: hidden;
    box-shadow: 10px 10px 5px rgb(232, 124, 124);
}
.cont-section p{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.485);
    font-size: 30px;
    color: wheat;
    font-family: "loubar";
    padding: 20px 0;
}
.seccion-agenda{
    background-image: url("../media/seccion-contact.jpg");
    
}
.seccion-contacto{
    background-image: url("../media/seccion-agenda.jpg");
}
.seccion-nosotros{
    background-image: url("../media/seccion-insta.jpg");
}

/****************************************************CONTACTO*/
.menu-cont-contacto{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    margin-top: 20px;
}
.contacto i{
    font-size: 20px;
    border: 2px solid rgb(175, 91, 91);
    box-shadow: 5px 5px 1px rgb(232, 124, 124);
    border-radius: 20px;
    padding: 10px;
}
.contacto .bi-instagram{
    color: white;
    background: linear-gradient(11deg, rgba(255,241,0,1) 0%, rgba(171,64,64,1) 45%, rgba(118,20,105,1) 72%, rgba(15,8,134,1) 100%);
}
.contacto .bi-whatsapp{
    color: white;
    background: rgb(95, 186, 95);
}
h3{
    font-family: "loubar";
    font-size: 15px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(175, 91, 91);
    box-shadow: 5px 5px 1px rgb(232, 124, 124);
    border-radius: 20px;
    padding: 10px;
}
button{
    appearance: none;
    border: 2px solid rgb(175, 91, 91);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(241, 186, 175);
    margin: 20px 0;
}

/****************************************************AGENDA*/
form{
    margin-bottom: 30px;
}
select{
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(246, 180, 180);
    font-family: boriboon;
    padding: 15px;
}

/****************************************************FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}
hr{
    width: 90%;
}
.rrss{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
footer i {
    font-size: 17px;
}

footer p {
    font-size: 13px;
    align-self: center;
    justify-self: center;
}