@font-face {
    src: url("../fonts/Boriboon\ Regular.ttf");
    font-family: "boriboon";
}

@font-face {
    src: url("../fonts/TTF/Loubag-Regular.ttf");
    font-family: "loubar";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../media/fondo2.jpg);
    background-size: 100% 100%;
}

a {
    text-decoration: none;
    color: black;
}

i {
    font-size: 30px;
}

/****************************************************HEADER*/
header {
    display: grid;
    position: relative;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 35vh;
}

.galeria-container {
    width: 100%;
    max-width: 800px;
    height: 100%;
    grid-column: 2 / span 6;
    grid-row: 2 / span 3;
    border: 2px double black;
    border-radius: 5px;
    overflow: hidden;
    justify-self: center;
}

.galeria-container video {
    position: relative;
    width: 100%;
    top: -150px;
}

.link-logo {
    display: flex;
    position: absolute;
    grid-column: 2 span 1;
    grid-row: 4 / span 2;
    align-items: center;
    justify-content: center;
    left: calc(1 * (100% / 8));
    width: 120px;
    height: 120px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(232, 124, 124);
    overflow: hidden;
}
.logo {
    width: 100%;
    height: auto;
}

/* header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.galeria-container{    
    background-color: rgba(0, 0, 0, 0.485);
    width:90%;
    max-width: 500px;
    margin: 20px;
    margin-bottom: 10px;
    height: 180px;
    border: 2px double black;
    border-radius: 5px;
    overflow: hidden;
    
}
.galeria-container video{
    width: 100%;
    position: relative;
    top: -150px;

}
.logo {
    width: 120px;
    position: absolute;
    top: 150px;
    left: 3vh;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgb(232, 124, 124);
} */

@media (min-width:420px) and (max-width:650px) {
    header {
        grid-template-rows: repeat(7, 1fr);
        height: 40vh;
    }

    .galeria-container {
        grid-row: 2 / span 5;
    }

    .galeria-container video {
        top: -200px;
    }

    .link-logo {
        grid-row: 6 / span 2;
    }
}

@media (min-width:650px) {
    header {
        grid-template-rows: repeat(9, 1fr);
        height: 50vh;
    }

    .galeria-container {
        grid-row: 3 / span 7;
    }

    .galeria-container video {
        top: -500px;
    }

    .link-logo {
        position: none;
        grid-row: 2 / span 2;
        grid-column: 4 span 2;
        left: none;
    }
}

/****************************************************MAIN*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

h1 {
    font-family: "loubar";
    text-align: center;
    font-size: 25px;
    animation: animacionTxt 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes animacionTxt {
    0% {
        letter-spacing: 0.3em;
        -webkit-transform: translateZ(200px);
        transform: translateZ(200px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}

p {
    font-family: "boriboon";
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation-delay: 1s;
}
@keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

section a {
    width: 90%;
    animation: aniSection 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.sectionAgenda{
    animation-delay: 0.5s;
}
.sectionInstagram{
    animation-delay: 1s;
}

@keyframes aniSection {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

.cont-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    margin-top: 20px;
    /* border-top-left-radius: 20px;
    border-top-right-radius: 20px;     */
    border-radius: 30px;
    background-size: cover;
    overflow: hidden;
    box-shadow: 10px 10px 5px rgb(232, 124, 124);
}

.cont-section p {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.485);
    font-size: 30px;
    color: wheat;
    font-family: "loubar";
    padding: 20px 0;
}

.seccion-agenda {
    background-image: url("../media/seccion-contact3.jpg");
}

.seccion-contacto {
    background-image: url("../media/seccion-agenda3.jpg");
}

.seccion-nosotros {
    background-image: url("../media/seccion-insta.jpg");
}

.img-seccion {
    width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(232, 124, 124);
}

@media (min-width:650px) {
    main section {
        max-width: 1100px;
    }

    section {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }
}

/****************************************************CONTACTO*/
.menu-cont-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin-top: 20px;
    width: 100%;
}

.contacto {
    width: 200px;
    border: 2px solid rgb(175, 91, 91);
    box-shadow: 5px 5px 1px rgb(232, 124, 124);
    border-radius: 20px;
    padding: 20px;
}

.contacto i {
    font-size: 20px;
    color: rgb(240, 248, 255);
    text-shadow: 0px 0px 2px white;
}

.contacto-instagram {
    color: white;
    background: rgb(249, 92, 142);
}

.contacto-wsp {
    color: white;
    background: rgb(95, 186, 95);
}

form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(175, 91, 91);
    box-shadow: 5px 5px 1px rgb(232, 124, 124);
    border-radius: 20px;
    padding: 10px;
}

input {
    width: 70%;
    font-size: 15px;
}

textarea {
    width: 80%;
    font-size: 15px;
}

button {
    appearance: none;
    border: 2px solid rgb(175, 91, 91);
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(241, 186, 175);
    margin: 20px 0;
}

@media (min-width:650px) {
    .menu-cont-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin-top: 20px;
        width: 100%;
    }
}

/****************************************************AGENDA*/
.form-agenda {
    max-width: 700px;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.184);
}

#calendar {
    width: 100%;
    height: 100%;
}

select {
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(246, 180, 180);
    font-family: boriboon;
    padding: 15px;
}

/****************************************************FOOTER*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

hr {
    width: 90%;
}

.rrss {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

footer i {
    font-size: 17px;
}

footer p {
    font-size: 13px;
    align-self: center;
    justify-self: center;
}